.footer 
    .container 
        .insi
            .row
                .col-3
                    img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/logo1_footer_2.png", alt="Company Logo")
                .col-3
                    ul 
                        li Alcohol 
                        li Dainties 
                        li Dairy 
                        li Fruit 
                        li Meat
                .col-3
                    ul 
                        li Tea & Coffee 
                        li Vegetables 
                        li Meat
                        li Seafood 
                        li Beef
                .col-3
                    ul 
                        li Who we are 
                        li Blog
                        li Careers 
                        li Coupons 
                        li Contacts
            .register 
                p.hov AxionThemes 
                p © 2024. All Rights Reserved.  