extends ../components/layout.pug

block vars
    - var data_page = data.page_home

block content
    include ../components/home/header.pug
    include ../components/general/Navbar.pug
    include ../components/home/Carousel.pug
    include ../components/home/Menu.pug
    include ../components/home/footer.pug
    include ../components/general/Information.pug
    include ../components/general/Button.pug