include ../mixin/mixin

block vars
    -data_page = []

doctype html
html(lang='vi')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        //- link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
        link(rel="stylesheet", href="../css/fonts.scss")
        link(rel="stylesheet", href="../css/home.css")
        link(rel="stylesheet", href="../css/lib.css")
    body
        block content

        script(src="/js/jquery-3.7.1.min.js")
        script(src="/js/lib.js")
        script(src="/js/home.js")
        //- script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
