.Nav
  .container
    .inside

      ul.nav-list

        li.nav-item
          a.nav-link(href='#') Home
          ul.sub-menu
            li.sub-item
              a.sub-link(href='#') Home 1
            li.sub-item
              a.sub-link(href='#') Home 2
            li.sub-item
              a.sub-link(href='#') Home 3

        li.nav-item
          a.nav-link(href='/#') Shop
          
        li.nav-item
          a.nav-link(href='/#') Categories 
          ul.sub-menu.sub-menu-grid
            +render_col(data.subMenuMini)
            
        li.nav-item
          a.nav-link(href='/#') About
          ul.sub-menu
            li.sub-item
              a.sub-link(href='#') Who We Are
            li.sub-item
              a.sub-link(href='#') What We Offer
            li.sub-item
              a.sub-link(href='#') Career

        li.nav-item
          a.nav-link(href='/#') Pages 
          ul.sub-menu
            li.sub-item
              a.sub-link(href='#') Contact
            li.sub-item
              a.sub-link(href='#') Coupons
            li.sub-item
              a.sub-link(href='#') Vacancies
            li.sub-item
              a.sub-link(href='#') Tools  ›
              ul.sub-menu
                li.sub-item
                  a.sub-link(href='#') Shortcodes
                li.sub-item
                  a.sub-link(href='#') Typography
                li.sub-item
                  a.sub-link(href='#') Privacy policy
                li.sub-item
                  a.sub-link(href='#') Service Plus

        li.nav-item
          a.nav-link(href='/#') Block
          ul.sub-menu
            li.sub-item
              a.sub-link(href='#') Standard
            li.sub-item
              a.sub-link(href='#') Centered
            li.sub-item
              a.sub-link(href='#') Grid 2 columns
            li.sub-item
              a.sub-link(href='#') Grid 3 columns

        li.nav-item
          a.nav-link(href='/#') Find a Store
