extends ../components/layout.pug

block vars
    - var data_page = data.page_home

block content
    include ../components/general/Navbar.pug

    include ../components/general/Button.pug

    include ../components/home/Contact.pug

    include ../components/home/location.pug

    include ../components/general/footer.pug