.footer 
    .container 
        .main
            .row.main 

                .col-3 
                    h5.title company
                    ul.content 
                        li Who We Are 
                        li What We Offer
                        li Careers
                        li Contacts

                .col-3 
                    h5.title shopping
                    ul.content 
                        li Online Shop
                        li Find a Store
                        li Coupons
                        li Terms and Conditions
                        li Categories
                        li How It Works 
                        li Our Market Picks

                .col-3 
                    h5.title recent posts
                    ul.content 
                        li 
                            .row.align-items-start
                                .col-auto.pl-0
                                    img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/image-22-copyright-min-150x150.jpg", alt="")
                                .col
                                    | Recipe: Seasoned Caprese Salad
                        li 
                            .row.align-items-start
                                .col-auto.pl-0
                                    img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/image-47-copyright-min-90x90.jpg", alt="")
                                .col
                                    | Our Market Picks: This Is What We Love
                        li 
                            .row.align-items-start
                                .col-auto.pl-0
                                    img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/image-171-copyright-min-90x90.jpg", alt="")
                                .col
                                    | Easy Homemade Chocolate

                .col-3
                    h5.title tags
                        .Butts 
                            button Brands
                            button Chocolate
                            button Detox
                            button Food
                            button Fresh 
                            button Greens
                            button Grocery
                            button Lifestyle
                            button Nature
                            button Online Store
                            button Orange
                            button Organic Lifestyle 
                            button People
