.Menu 
    .container 
        .main-item 

            .row 
                .col-6 
                    .row 
                        .col-6.word 
                            p Sales & Coupons.
                            h1 best deals 
                            p.des here's our guide on how to choose products without paying the extra money.
                            button view all
                        .col-6.img-container 
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/01-min.jpg", alt="")

                .col-6 
                    .row 
                        .col-6.word 
                            p Organic.
                            h1 fresh produce
                            p.des we offer fresh-as-can-be local produce for your dishes.
                            button view all
                        .col-6.img-container 
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/image-56-copyright-min-1.jpg", alt="")

            .row 
                .col-6
                    .row 
                        .col-6.img-container 
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/image-41-copyright-min.jpg", alt="")
                        .col-6.word 
                            p Sales & Coupons.
                            h1 cheese 101
                            p.des Guess a cheese type and get a free coupon for it.
                            button view all

                .col-6 
                    .row 
                        .col-6.img-container 
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/04-min.jpg", alt="")
                        .col-6.word 
                            p Organic.
                            h1 organic life
                            p.des 10 reasons why organic food is better for your health.
                            button view all

            .row 
                .col-6 
                    .row 
                        .col-6.word 
                            p Organic brands.
                            h1 exclusive brands
                            p.des Try these pumpkin cupcakes produced by our own bakery.
                            button view all
                        .col-6.img-container
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/05-min.jpg", alt="")

                .col-6 
                    .row 
                        .col-6.word 
                            p Recipes.
                            h1 recipes: chocolate love
                            p.des Follow our chocolate workshop.
                            button view all
                        .col-6.img-container 
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/image-17-copyright-min.jpg", alt="")

            .row 
                .col-6 
                    .row 
                        .col-6.img-container 
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/07-min.jpg", alt="")
                        .col-6.word 
                            p Career.
                            h1 work here
                            p.des Now Hiring!
                            p.des See why we’re a great place to work! Apply Today!
                            button view all
 
                .col-6
                    .row 
                        .col-6.img-container 
                            img(src="https://a-mart.axiomthemes.com/wp-content/uploads/2019/03/08-min.jpg", alt="")
                        .col-6.word 
                            p Organic brands.
                            h1 did you know?
                            p.des Chia seeds provide more omega-3s and fiber than flaxseeds.
                            button view all
