.Carousel {
  .container {
      position: relative;
      width: 100%;
  }

  .Find-store {
      width: 100%;
      background-color: #ffffff;
      color: #82c341;
      padding: 20px;
      display: flex;
      align-items: center;
      height: 150px;

      .left {
          font-family: 'SummerJoy';
          background-color: #ffffff;
          flex: 1;
          padding-left: 7%;
          font-size: 45px;
      }

      button {
          font-family: 'Sunnydino';
          background-color: #ff7d09;
          color: #ffffff;
          border: none;
          padding: 7px 35px;
          cursor: pointer;
          font-size: 40px;
          border-radius: 5px;
          margin-right: 7%;

          &:hover {
              background-color: #82c341;
          }
      }
  }

  .Caro {
      position: relative;

      .item {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        
          img {
              width: 100%;
              height: auto;
              filter: brightness(0.75);
          }
          .description{
            font-family: 'Sunnydino';
            text-align: center;
            font-weight: 700;
            font-size: 100px;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            background-color: transparent !important;
            position: absolute;
            color: #ffffff;
            z-index: 1000;
            width: 800px;
          }
          .description2{
            display: flex;
            flex-direction: row;
            font-family: 'Sunnydino';
            // height: 200px;
            // text-align: center;
            font-weight: 900;
            // font-size: 50px;
            top: 65%;
            left: 80%;
            transform: translateX(-50%);
            background-color: transparent !important;
            position: absolute;
            color: #ffffff;
            z-index: 1000;
            width: 800px;
            img{
                width: 115px;
                height: 170px;
                margin-right: 25%;
                filter: brightness(1);
            }
            span{
                font-size: 65px;
                // margin-right: 30px;
            }
          }
          .description3{
            display: flex;
            // height: 200px;
            // text-align: center;

            // font-size: 50px;
            top: 20%;
            left: 8%;
            // transform: translateX(-50%);
            background-color: transparent !important;
            position: absolute;
            color: #ffffff;
            z-index: 1000;
            width: 800px;
            img{
                width: 350px;
                height: 375px;
                margin-right: 25%;
                filter: brightness(1);
            }
          }
      }
  }

  .prev-arrow,
  .next-arrow {
      position: absolute;
      top: 55%;
      // transform: translateY(-50%);
      background-color: #82c341;
      color: black;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 24px;
      // border-radius: 50%;
      z-index: 10;

      svg{
        height: 20px;
      }
      &:hover {
          fill: #ffffff;
      }
  }

  .prev-arrow {
      width: 90px;
      height: 90px;
      left: -35px;
      border-radius: 50%;
      padding-right: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // border-top-right-radius: 50%;
      // border-bottom-right-radius: 50%;
  }

  .next-arrow {
      width: 90px;
      height: 90px;
      right: -35px;
      border-radius: 50%;
      padding-left: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // border-top-left-radius: 50%;
      // border-bottom-left-radius: 50%;
  }
}