@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans.woff2");
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway.woff2');
}

@font-face {
    font-family: SummerJoy;
    src: url('../fonts/summer-joy-regular.ttf');
}

@font-face {
    font-family: Sunnydino;
    src: url('../fonts/sunnydino-webfont.woff2');
}